body {
    font-family: sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    padding-top: 100px;
}

.container {
    background-color: white;
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
}

.btn-volver {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-volver:hover {
    background-color: #0056b3;
}
